:root {
  --blue: #00d9ff;
  --black: #000000;
  --white: #ffffff;
  --pink: #ff0095a9;
  --purple: rgb(20, 22, 49);
  --DarkPurp: rgb(22, 32, 48);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--DarkPurp);
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--purple);
  color: var(--white);
}
h1 {
  margin: 20px 5px 20px;
  font-size: 60px;
}
#my-name {
  color: var(--white);
  font-size: 50px;
}


 .navbar-links {
  display: flex;
  flex-flow: wrap;
  font-size: large;
  gap: 10px;
 }
 .navbar-links a {
  color: var(--white);
  text-decoration: none;
  font-size: large;
 }
 .navbar-links a:hover {
   color: var(--blue);
}
.about-me {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px;
}

.about-me h2 {
  font-size: 60px;
  text-align: center;
}

.about-me p {
  font-size: 20px;
  padding: 20px;
}

img {
  width: 200px;
}

.work-boxes {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  justify-content: center;
}

#work h2 {
  color: var(--white);
  font-size: 50px;
  padding: 10px 0px 5px 15px;
}

#work p {
  color: var(--white);
  font-size: 25px;
  padding: 10px 0px 5px 15px;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    color: var(--white);
}
.project-box {
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    flex: 1 0 45%;
    background-image: url(../images/purp\ back.jpg);
    color: var(--white);
}
.project-box h3 {
    margin-top: 0;
    color: var(--white);
}
.project-box a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.project-box a:hover {
    background-color: var(--DarkPurp);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#contact-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--purple);
}

#contact-me h2 {
  font-size: 3rem;
  color: var(--white);
}

.contact-links  {
  display: inline-flex;
  flex-flow: wrap;
  font-size: large;
  gap: 50px;
}

.contact-links a {
  text-decoration: none;
  color: var(--white);
}

.contact-links a:hover {
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  /* Nav */
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  #my-name {
    font-size: 30px;
  }
  .navbar-links {
    flex-direction: column;
    gap: 20px;
  }

  /* About me section */
  .about-me {
    flex-direction: column;
    gap: 50px;
  }

  /* Work section */

#work h2 {
  font-size: 60px;
  text-align: center;
  color: var(--white);
}
  .project-row {
    justify-content: center;
  }

  .project-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .side-project-boxes {
    justify-content: center;
  }

  .side-project-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  /* Contact section */
  #contact-me {
    flex-direction: column;
    text-align: center;
  }

  #contact-me h2 {
    font-size: 2rem;
  }

  .contact-links {
    flex-direction: column;
    gap: 20px;
  }
}